
/*-------------------------------------
| Core /Root Elements
-------------------------------------*/
body {
	background-color: #f4f4f4;
	margin: 0px;
	border-top: solid 8px #090909;
	font-family: helvetica, sans-serif;
}
div.wrapper {
	outline: solid 2px red;
	/* Responsive Design */
	width: 90%;
	max-width: 960px;
	min-width: 320px;

	margin: auto;
}

/*-------------------------------------
| Header and Footer
-------------------------------------*/
header.opening {
	height: 130px;
	position: relative;
}

header.opening h1.logo {
	background-image: url(../img/cc-logo.png);
	width: 183px;
	height: 100px;
	font-size: 0;

	position: absolute;
	left: 0px; top: 10px;
}
footer.closing {
	background-color: #e2e2e2;
	padding: 100px 0px;
	font-size: 12px;
	opacity: .7;
	text-align: center;
	margin-top: 100px;
}

/*-------------------------------------
| Navigation
-------------------------------------*/
nav.mainmenu {
	position: absolute;
	right: 0px; bottom: 30px;

	background-color: black;
	padding: 20px;
}
nav.mainmenu a {
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;

	margin-left: 73px;
	color: #f88b00;
}
nav.mainmenu a:hover {
	color: #ffc070;
}

/*-------------------------------------
| Hamburger
-------------------------------------*/
.hamburger {
	position: absolute;
	right: 10px; top: 10px;
	font-size: 30px;
}

/*-------------------------------------
| Horizontal Rule
-------------------------------------*/
.horizontal-rule {
	margin-bottom: 20px;
	border-top: 1px solid #c0c0c0;
	padding-bottom: 20px;
}

/*-------------------------------------
| Slideshow
-------------------------------------*/
.slideshow {
	overflow: hidden;
	position: relative;
}
.slideshow img {
	/* ALL IMAGES RESPOND */
	max-width: 100%;
	/* LET NATURAL HEIGHT OF IMAGE HOLD THE SPACE */
	height: auto;
}
.slideshow-container {
	position: absolute;
	left: 0px; top: 0px; right: 0px; bottom: 0px;

}
.slideshow-container img {
	position: absolute;
	left: 0px; top: 0px;
}

/*-------------------------------------
| Columns
-------------------------------------*/




/*-------------------------------------
| Portfolio
-------------------------------------*/



